<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >커뮤니티 관리</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

    <body>
    <table width="700" border="0" cellpadding="0" cellspacing="0"  align="center">
        <tr>
            <td height=40 colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-size: 300%" width="100%" height="120" colspan="10" align="center">커뮤니티 관리</td>
        </tr>
        <tr>
            <td height="5" colspan="10">&nbsp;</td>
        </tr>

    </table>
    <div align="center">
        <button type="button" onclick="location.href='insert_community'">커뮤니티 등록</button>
        <button type="button" onclick="location.href='admin'">관리자 페이지로</button>
    </div>



    <table th:align="center" border="1" th:cellpadding="0"
           th:cellspacing="0" th:width="600" style="text-align: center" >
        <tr>
            <th bgcolor="orange" width="80">번호</th>
            <th bgcolor="orange" width="300">이름</th>
            <th bgcolor="orange" width="80">수정</th>
            <th bgcolor="orange" width="80">삭제</th>
        </tr>
        <tr th:each="community : ${communityList}" th:height="25">
            <td th:text="${community.getSeq()}"></td>
            <td th:text="${community.getName()}"></td>
            <td><a style="text-decoration: none" th:href="@{/admin/update_community(seq=${community.getSeq()})}"><b>V</b></a></td>
            <td>
                 <a style="color: #ff0000; text-decoration:none" th:href="@{/admin/delete_community(seq=${community.getSeq()})}"><b>X</b></a>
            </td>

        </tr>
    </table>
    <br>
    </body>
</html>