<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:value="${community.getName()}">커뮤니티 탭</title>
    <Link rel="stylesheet" href="css/theme.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<center>
    <body>
    <table width="1100" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <!--로고-->
            <td width="100">
                <table bgcolor="#1e90ff" cellpadding="0" cellspacing="0" th:height="120">
                    <tr>
                        <td width="250" align="center"><a href="/"><img src="images/myLogo.png" height="150"></a></td>
                    </tr>
                </table>
            </td>

            <!--현재 커뮤니티 위치-->
            <td width="800" align="center" style="vertical-align: bottom" bgcolor="#bdb76b">
                <h1 th:text="${community.getName()}"></h1>
            </td>

            <!--로그인 세션-->
            <td width="200" height="120" colspan="10" align="center" bgcolor="#e9967a">
                <br>
                <span th:if="${session.user!=null}">
                    <h4>
                        <font color='red'><span th:text="${session.user.getId()}"></span></font>님 환영합니다
                        <p></p>
                        <button type="button" onclick="location.href='logout'">로그아웃</button>
                    </h4>
                </span>
                <span th:if="${session.user==null}">
                    <h4>
                        <font color='red'></font>게스트님 환영합니다
                        <p></p>
                        <button type="button" onclick="location.href='login'">로그인</button>
                        <button type="button" onclick="location.href='join'">회원가입</button>
                    </h4>
                </span>
            </td>
        </tr>


        <tr>
            <!--1. 커뮤니티 리스트-->
            <td width="100">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr th:each="community : ${communityList}" bgcolor="#7fff00">
                        <td align="center" width="250" class="tablelabel"><a
                                th:href="@{/getCommunity(seq=${community.getSeq()})}"
                                th:text="${community.getName()}"></a></td>
                    </tr>
                </table>
            </td>

            <!-- 2. 게시글 리스트 -->
            <td width="800" style="vertical-align: top" colspan="10" align="center" bgcolor="aqua">
                <br><br>
                <table bgcolor="#a9a9a9" width="720" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="550" class="tablelabel">제목</td>
                        <td width="100" class="tablelabel">작성자</td>
                        <td width="100" class="tablelabel">작성일</td>
                        <td width="50" class="tablelabel">조회</td>
                    </tr>
                    <tr th:each="board : ${boardList}" th:height="30">
                        <td class="tablelabel"><a
                                th:href="@{/getBoard(communitySeq=${community.getSeq()}, seq=${board.getSeq()})}"
                                th:text="${board.getTitle()}"></a>
                        </td>
                        <td class="tablelabel" align="center" th:text="${board.getUser().getId()}"></td>
                        <td class="tablelabel" align="center"
                            th:text="${#dates.format(board.getRegDate(), 'yyyy.MM.dd')}"></td>

                        <td class="tablelabel" align="center" th:text="${board.getCnt()}"></td>
                    </tr>
                </table>
                <br>
                <!-- 3. 글쓰기 버튼-->
                <span th:if="${session.user != null}">
                <table>
                    <tr>
                        <td width="750" align="right">

<!--                    <button type="button" th:onclick="location.href==/insertBoard">글쓰기</button>-->
                            <!--                    <button type="button" onclick="location.href='login'">로그인</button>-->
                    <a th:href="@{/insertBoard(seq=${community.getSeq()})}">글쓰기</a>

                        </td>
                        <td width="50"></td>
                    </tr>
                </table>
                </span>


                <br><br>

                <form th:action="communitySearch" method="get">
                    <table bgcolor="#ff7f50" cellpadding='0' cellspacing='0' width='700'>
                        <tr>
                            <td height="5" colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="30%" height="20">&nbsp;</td>
                            <td width="40%"><input type="text" name="searchKeyword" size="50"></td>
                            <td width="30%">&nbsp;<input type="submit" value="검색"></td>
                        </tr>
                        <tr>
                            <td height="20" colspan="10" align="center" class="tdcontent">
                                <input type="hidden" name="communitySeq" th:value="${community.getSeq()}">
<!--                                <span th:if="${searchCondition == null || searchCondition == 'title'}">-->
                                    <input type="radio" name="searchCondition" value="title" checked>제목&nbsp;&nbsp;
<!--                                </span>-->
                                <input type="radio" name="searchCondition" value="content">내용&nbsp;&nbsp;
                                <input type="radio" name="searchCondition" value="writer">작성자&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td height="5" colspan="10">&nbsp;</td>
                        </tr>
                    </table>
                </form>
                <!-- 블로그 검색 끝 -->
                <br>
            </td>
            <td width="200" bgcolor="#dc143c"></td>
        </tr>
    </table>

    <br>
    </body>
</center>
</html>