<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>신나는 웹 커뮤니티 회원가입</title>
    <Link rel="stylesheet" href="css/theme.css">
</head>
<body>
<form action="join" method="post">
    <table width="250" align="center" height=320 border="0" cellpadding="0"
           cellspacing="0">
        <tr>
            <td height=40 colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td width="100%" height="120" colspan="10" align="center"><a href="/home"><img
                    src="images/myLogo.png" width="200" border="0" ></a></td>
        </tr>
        <tr>
            <td height="20" colspan="10" align="right" class="tdcontent">
            </td>
        </tr>
        <tr>
            <td height="20" colspan="10" align="right" class="tdcontent">
                아이디 : <input type="text" name="id" size="15">
                <br>
                <br>
                패스워드 : <input type="password" name="password" size="15">
                <br>
                <br>
                패스워드확인 : <input  type="password" name="passwordConfirm" size="15">
                <br>
                <br>
                이름 : <input type="text" name="name" size="15">
            </td>
        </tr>

        <tr>
            <td height="40" colspan="10" align="center">
                <br>
                <input type="submit" value="회원가입">&nbsp;&nbsp;&nbsp;
                <button type="button" onclick="location.href='login'" >취소</button>

            </td>
            <td height="40" colspan="10" align="center">
        </tr>

        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
    </table>
</form>

</body>
</html>
