<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>신나는 웹 커뮤니티</title>
    <Link rel="stylesheet" href="css/theme.css">
</head>

<body bgcolor="#211c17">
<center>
    <table width="1100" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <!--로고-->
            <td width="100">
                <table bgcolor="#1e90ff" cellpadding="0" cellspacing="0" th:height="120">
                    <tr>
                        <td width="250" align="center"><a href="/"><img src="images/myLogo.png" height="150"></a></td>
                    </tr>
                </table>
            </td>

            <!--메인 헤드-->
            <td width="800" align="center" style="vertical-align: middle" bgcolor="#106ac7">
                <a href="home"><h1 class="maintitle" th:text="'메인 페이지'"></h1></a>
            </td>

            <!--로그인 세션-->
            <td width="200" height="120" colspan="10" align="center" bgcolor="#483d8b">
                <br>
                <span th:if="${session.user!=null}">
                    <h4>
                        <font color='red'><span th:text="${session.user.getName()}"></span></font>님 환영합니다
                        <p></p>
                        <span th:if="${session.user.getRole().name() =='ROLE_ADMIN'}">
                            <button type="button" onclick="location.href='/admin/admin'">관리자</button>
                        </span>
                        <button type="button" onclick="location.href='logout'">로그아웃</button>
                    </h4>
                </span>
                <span th:if="${session.user==null}">
                    <h4>
                        <font color='red'></font>게스트님 환영합니다
                        <p></p>
                        <button type="button" onclick="location.href='login'">로그인</button>
                        <button type="button" onclick="location.href='join'">회원가입</button>
                    </h4>
                </span>
            </td>
        </tr>


        <tr>
            <!--1. 커뮤니티 리스트-->
            <td width="100" style="vertical-align: top">
                <table class="community" border="0" cellpadding="0" cellspacing="0" bgcolor="#6495ed">
                    <tr th:each="community : ${communityList}" bgcolor="#6495ed">
                        <td align="center" width="250" height="30"><a
                                th:href="@{/getCommunity(seq=${community.getSeq()}, page=0)}"
                                th:text="${community.getName()}"></a></td>
                    </tr>
                </table>
            </td>

            <td bgcolor="#f5f5f5" style="vertical-align: top" width="800" colspan="10" align="center">
                <br>
                <br>
                <!-- 메인 페이지 검색 기능 -->
                <form th:action="mainSearch" method="get">
                    <table bgcolor="#a9a9a9" cellpadding='0' cellspacing='0' width='700'>
                        <tr>
                            <td height="5" colspan="10">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="30%" height="20">&nbsp;</td>
                            <td width="40%"><input type="text" name="searchKeyword" size="50"
                                                   th:value="${searchKeyword}"></td>
                            <td width="30%">&nbsp;<input type="submit" value="검색"></td>
                        </tr>
                        <tr>
                            <td height="20" colspan="10" align="center" class="tdcontent">
                                <input type="hidden" name="page" value="0">
                                <input type="radio" name="searchCondition" value="title" checked>제목&nbsp;&nbsp;
                                <input type="radio" name="searchCondition" value="content" th:checked="${contentCheck}">내용&nbsp;&nbsp;
                                <input type="radio" name="searchCondition" value="writer" th:checked="${writerCheck}">작성자&nbsp;&nbsp;
                                <input type="radio" name="searchCondition" value="community"
                                       th:checked="${communityCheck}">커뮤니티
                            </td>
                        </tr>
                        <tr>
                            <td height="5" colspan="10">&nbsp;</td>
                        </tr>
                    </table>
                </form>
                <br>
                <span th:if="${searchKeyword!=''}">
                    <h3>검색 결과</h3>
                </span>
                <span th:if="${boardListSize==0}">
                    <h2 style="color: red">검색 결과가 존재하지 않습니다.</h2>
                </span>
                <span th:if="${searchKeyword==''}">
                    <h3>최신글</h3>
                </span>
                <!--                <h3>전체 게시글</h3>-->
                <!-- 전체 게시글 리스트 -->
                <hr width="720">
                <table class="boardtable" bbgcolor="#a9a9a9" width="720" cellpadding="0" cellspacing="0">
                    <tr height="40">
                        <td width="70" class="tablelabel">커뮤니티
                            <hr/>
                        </td>
                        <td width="350" class="tablelabel">제목
                            <hr/>
                        </td>
                        <td width="100" class="tablelabel">작성자
                            <hr/>
                        </td>
                        <td width="100" class="tablelabel">작성일
                            <hr/>
                        </td>
                    </tr>

                    <tr th:each="board : ${boardList}" th:height="40">
                        <td class="tablefont" align="center" th:text="${board.getCommunity().getName()}"></td>

                        <td class="tabletitle"><a
                                th:href="@{/getBoard(communitySeq=${board.getCommunity().getSeq()}, seq=${board.getSeq()}, page=${page})}"
                                th:text="${board.getTitle()}"></a></td>
                        <td class="tablefont" align="center" th:text="${board.getUser().getId()}"></td>

                        <span th:if="${session.time != #dates.format(board.getRegDate(), 'yyyyMMdd')}">
                            <td class="tablefont" align="center"
                                th:text="${#dates.format(board.getRegDate(), 'yyyy.MM.dd')}"></td>
                        </span>
                        <span th:if="${session.time == #dates.format(board.getRegDate(), 'yyyyMMdd')}">
                            <td class="tablefont" align="center"
                                th:text="${#dates.format(board.getRegDate(), 'HH:mm')}"></td>
                        </span>
                    </tr>
                </table>

                <br><br>
                <!-- 페이지 -->
                <table>
                    <tr>
                        <td th:each="num, numStat: ${#numbers.sequence(0,totalPage)}"><a
                                th:href="@{/mainSearch(searchKeyword=${searchKeyword}, searchCondition=${searchCondition}, page=${numStat.index})}"
                                th:text="${numStat.count}"></a>&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
            </td>

            <td width="200" bgcolor="#f5f5f5"></td>
        </tr>
    </table>
</center>
</body>
</html>